<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">
 <div class="container-fluid">
  <a class="navbar-brand" href="/"  ></a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
     <ul class="navbar-nav mx-auto">
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="/api/v1/formulario">Registrar</a></li>
           <li><a class="dropdown-item" href="/api/v1/listadoclientes">Listar</a></li>
         </ul>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Productos</a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="/api/v1/productos/formulario">Registrar</a></li>
           <li><a class="dropdown-item" href="/api/v1/listadoproductos">Listar</a></li>
         </ul>
       </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Servicios</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/api/v1/servicios">Listar</a></li>
        </ul>
      </li>
     </ul>
     
   </div>
 </div>
</nav>
